# Archivos R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

# Outputs generados
#*.html
#*.pdf
*.docx
*.xlsx

# Sistema
.DS_Store
Thumbs.db

# Datos grandes (>50MB)
*.csv
*.rds
*.feather

# Carpetas específicas para ignorar
Talaga-homophily-network/

# Ignorar todas las carpetas con un nombre específico en cualquier lugar del proyecto
#**/nombre_carpeta/